3. Perform Queries Using the Command Line
    * Task: Run at least five different queries, including:

        + SELECT with JOIN between rental and customer.

        + GROUP BY and HAVING to find the number of rentals per store.

        + ORDER BY to sort movies by rental duration.

* Seleccionamos todos los datos de rentas y clientes donde coincidadn los "customer_id"

In [ ]:
SELECT *
FROM sakila.rental
JOIN sakila.customer
ON sakila.rental.customer_id = sakila.customer.customer_id

* Seleccionamos con un join todos los datos de la tabla "rental" y "customer"

In [ ]:
# Version 1: muestra solo la columna de tiendas agrupadas por sus diferentes tiendas
SELECT count(store_id)
FROM sakila.rental
JOIN sakila.customer
ON sakila.rental.customer_id = sakila.customer.customer_id
GROUP BY store_id;

# Version 1.2 Se utlizan los alias para enteder mejor la logica de uso y se agrega la columna de tiendas
SELECT Clientes.store_id AS tiendas, COUNT(Clientes.store_id) AS no_rentas
FROM sakila.rental AS Rentas
JOIN sakila.customer AS Clientes
ON Rentas.customer_id = Clientes.customer_id
GROUP BY Clientes.store_id;

# Version 2+: Se utiliza una logica mejor para no incluir posibles rentas duplicadas mas left join
SELECT customer.store_id, COUNT(DISTINCT rental.rental_id) 
FROM sakila.rental AS rental
LEFT JOIN sakila.customer AS customer ON rental.customer_id = customer.customer_id
GROUP BY customer.store_id

* Seleccionamos dos columnas de la tabla "film" y ordenamos por la duracion de renta

In [ ]:
SELECT Peliculas.title, Peliculas.rental_duration
FROM sakila.film AS Peliculas
ORDER BY Peliculas.rental_duration ASC